body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

p,
span,
a,
input,
label,
textarea,
li {
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
}

.header-top,
.header-nav-content,
.company-stats,
.breadcrumb,
.about-content,
.contact,
.footer-info {
    max-width: 1170px;
    margin: auto;
}

.header-top-content {
    display: flex;
    padding: 40px;
}

.logo-container {
    display: flex;
    flex-basis: 40%;
}

.logo-image {
    padding: 0 20px;
}

.logo-image div {
    width: 60px;
    height: 60px;
}

.logo-image div img {
    max-width: 100%;
}

.logo-text {
    line-height: 0.94;
    color: #4867c0;
    font-size: 34px;
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.logo-sub {
    font-size: 12px;
    font-weight: 500;
    color: #4c4c4c;
    margin-top: 5px;
}

.info-container {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-box {
    margin: 0 15px;
    display: flex;
}

.info-box i {
    color: #4867c0;
    font-size: 2.5em;
}

.info-box p {
    margin: 2px 0 5px 5px;
    font-size: 14px;
}

.header-nav {
    background: #003300;
    height: 82px;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
}

.main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav ul li:not(:last-child) {
    margin-right: 25px;
}

.main-nav ul li a {
    display: block;
    position: relative;
    height: 100%;
    line-height: 82px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding-left: 11px;
    padding-right: 8px;
    z-index: 1;
    transition: all 200ms ease;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav ul li a:hover {
    display: block;
    position: relative;
    height: 100%;
    line-height: 82px;
    font-size: 18px;
    font-weight: 500;
    color: #199CDB;
    padding-left: 11px;
    padding-right: 8px;
    z-index: 1;
    transition: all 200ms ease;
    text-decoration: none;
    background: #f3f7f9;
}


/* MAIN CONTENT INDEX*/

.main-banner {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text {
    text-align: center;
}

.main-banner p {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 1px 1px 20px;
    background: #000;
    opacity: 0.6;
    padding: 5px 10px;
}

.main-banner a,
.featured-text a {
    color: #fff;
    border: 2px solid #199CDB;
    padding: 15px 20px;
    background-color: #199CDB;
}

.main-banner a:hover,
.featured-text a:hover {
    color: #ffffff;
    background: #1c1c1c;
    border: 2px solid #1c1c1c;
}

.company-stats {
    display: flex;
    text-align: center;
    padding: 6rem 0;
}

.stats {
    flex-basis: 33%;
    padding: 20px;
}

.stats i {
    display: block;
    color: #1551a1;
    margin-bottom: 10px;
}

.stats .counter {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
}

.stats .type {
    font-size: 18px;
    color: #787878;
}

.featured-text-wrap {
    background: #6F7071;
    border-top: solid 2px #e5e5e5;
    border-bottom: solid 2px #e5e5e5;
    box-shadow: inset 0px -8px 0px 0px #fff, inset 0px 8px 0px 0px #fff;
}

.featured-text {
    text-align: center;
    width: 600px;
    margin: auto;
    padding: 40px 0;
}

.featured-text p {
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
}

.main-services-wrap h1 {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    color: #4867c0;
    margin-bottom: 0;
}

.main-services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services {
    flex-basis: 45%;
    margin: 20px;
    position: relative;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}

.item img {
    width: 100%;
    height: 450px;
}

.caption h2 {
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #7a95ac;
    text-shadow: 1px 1px;
}

.caption h4 {
    font-size: 18px;
    text-align: left;
    padding: 0 40px;
    color: #7a95ac;
    text-shadow: 1px 1px;
}

.caption p {
    color: #d4d4dc;
    text-shadow: 1px 1px;
    font-size: 18px;
    line-height: 27px;
}

.caption ul {
    text-align: left;
}

.caption ul li {
    list-style: none;
    text-shadow: 1px 1px;
    padding: 10px 0;
    color: #d4d4dc;
}

.services-txt {
    text-align: center;
    background: #f3f7f9;
    padding: 20px 0;
}

.services-txt h1 {
    margin: 0;
    font-size: 24px;
    color: #4c4c4c;
}


/* MAIN CONTENT ABOUT*/

.breadcrumb-wrap {
    background: #f3f7f9;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.featured-title {
    flex-basis: 65%;
}

.featured-title h1 {
    font-size: 18px;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 2px
}

.breadcrumbs {
    flex-basis: 35%;
    text-align: right;
}

.breadcrumbs a {
    color: #777;
}

.breadcrumbs a:hover {
    color: #199CDB;
    cursor: pointer;
}

.breadcrumbs span {
    color: #777;
    text-transform: uppercase;
    letter-spacing: 2px
}

.about-content {
    display: flex;
    padding: 40px 0;
}

.about-text {
    flex-basis: 55%;
}

.about-text p {
    font-size: 18px;
    line-height: 27px;
    margin-top: 0px;
}

.about-img {
    flex-basis: 45%;
    margin-left: 20px;
}

.about-img img {
    width: 100%;
}


/* MAIN CONTENT CONTACT*/

.contact {
    display: flex;
}

.info {
    flex-basis: 35%
}

.info h3 {
    margin-bottom: 8px;
    font-size: 24px;
}

.info-details {
    display: flex;
    padding: 15px;
    align-items: center;
}

.info-details h3 {
    margin-top: 0px;
}

.info-icon {
    padding: 15px;
}

.info-details .info-icon i {
    color: #4867c0;
}

.info-details .desc h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.info-details .desc p {
    margin: 0px;
}

.contact-form {
    padding: 40px;
    flex-basis: 65%;
}

.contact-form input,
.contact-form textarea {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 10px;
    height: 38px;
    width: 25%;
    line-height: 1.3;
}

.contact-form label {
    display: block;
    font-weight: 700;
    font-size: 16px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
}

.contact-form textarea {
    width: 100%;
    height: 100px;
}

.contact-form input[type=text] {
    display: inline-block;
    margin-right: 5px;
}

.contact-form input[type=submit] {
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 6px;
}

.contact-form input[type=submit]:hover {
    background-color: #199CDB;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 6px;
}

.form-field {
    padding: 10px 0;
}


/* GALLERY */

.gallery-wrap {
    padding: 25px;
    font-size: 0;
    flex-flow: row wrap;
    display: flex;
}

.gallery {
    flex: auto;
    width: 200px;
    margin: 5px;
}

.gallery img {
    width: 100%;
    height: 200px;
}


/* FOOTER */

.footer-wrap {
    text-align: center;
    color: #fff;
}

.footer-info-wrap {
    background: #2fa32f;
}

.footer-info {
    display: flex;
    padding: 20px 0;
}

.footer-module {
    flex-basis: 33%;
    text-align: left;
    padding: 0 20px;
}

.footer-module h2 {
    font-size: 24px;
}

.footer-module p {
    margin: 5px 0;
    line-height: 24px;
}

.footer-module a {
    color: #fff;
}

.footer-copyright {
    background-color: #199CDB;
    padding: 20px 0;
}

.footer-copyright p {
    margin: 0;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    background: #1c1c1c;
}

.scroll-to-top:hover {
    color: #ffffff;
    background: #199CDB;
}


/* MOBILE MENU*/

.dl-menuwrapper {
    max-width: 100%;
    float: none;
    top: -10px;
}

.dl-menuwrapper:first-child {
    margin-right: 0;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#dl-menu {
    display: none;
}


/*----------------------Media queries---------------------------------------- */


/*****************************************************************************
******* smaller than 980 *****************************************************
********************************/

@media screen and (max-width: 980px) {
    .header-top,
    .header-nav-content,
    .company-stats,
    .breadcrumb,
    .about-content,
    .contact,
    .footer-info {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .header-top-content,
    .about-content {
        flex-direction: column;
    }
    .logo-container,
    .info-container {
        margin: 0 auto;
        padding: 10px 0;
    }
    .main-content-banner {
        width: 100%;
    }
    .services {
        flex-basis: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .header-nav {
        display: none;
    }
    #dl-menu {
        display: block;
    }
    .about-content {
        text-align: center;
    }
    .about-img {
        margin-left: 0;
    }
}


/************************************************************************************
smaller than 650
*************************************************************************************/

@media screen and (max-width: 650px) {
    .services {
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .header-top,
    .header-nav-content,
    .company-stats,
    .breadcrumb,
    .about-content,
    .contact,
    .footer-info {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .company-stats,
    .footer-info,
    .breadcrumb,
    .contact {
        flex-direction: column;
    }
    .info-container {
        display: none;
    }
    .featured-text {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .contact-form input {
        width: 50%;
    }
}